streamlit
pandas
numpy
PyPDF2
sentence-transformers
geopy
folium
streamlit-folium
groq
langdetect
nltk
faiss-cpu
thefuzz
python-levenshtein
thefuzz
python-levenshtein
openrouteservice-py
streamlit-js-eval
